

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  text-align: center;
}
.container{
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: 20px;
}
p{
  margin: 0;
}
h1{
  margin: 40px;
}
.flexBlocks{
  display: flex;
  justify-content: space-evenly;
}

/* block  divSymbol*/

.divSymbol{
   width: 300px;
}
.selectSymbol{
  margin-top: 20px;
}
.selectSymbol button{
  padding: 10px 20px;
  margin: 0 ;
}

/* block game */
.game{
  width: 300px;
  height: 300px;
  border: 3px solid brown;
}
.bigSquare{
  display: flex;
  flex-flow: row wrap;
}
.littleSquare{
  font-size: 36px;
  width: 100px;
  height: 100px;
  border: 1px solid brown;
  box-sizing: border-box;
  line-height: 100px;
}

button{
  background-color: #007054;
  color: #fff;
  padding: 15px;
  font-size: 20px;
  border: none;
  margin: 40px 0;
}

/* block score */

.score{
  width: 300px;
  height: 40px;
}
.scoreBlock{
  margin-top: 20px;
}


